@keyframes fade {
    0% { opacity: 0; transform: translateY(10px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
  .p-animate {
    animation: fade 2s infinite;
  }
  